<div class="profile">
  <h2>My Profile</h2>

  <div class="image"><img {{bind-attr src="model.image"}}></div>
  <div class="name">{{model.fullName}}</div>
  <div class="email">{{model.email}}</div>
</div>
