  <div id="sidebar-wrapper" class="col-md-3">
    <div id="sidebar">
      <ul id="message-list" class="nav list-group">
        <%= render @messages %>
      </ul>
    </div>
  </div>
  <div id="main-wrapper" class="col-md-9 pull-right">
    <div id="main">
      <div class="page-header">
        <h3>Messages</h3>
        <p>Click on a message on the left to view it.</p>
      </div>
    </div>
  </div>
